@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-ghost-custom {
    @apply btn btn-ghost btn-sm font-normal;
  }
  .btn-neutral-custom {
    @apply btn btn-neutral btn-sm font-normal;
  }
  .btn-neutral-big-custom {
    @apply btn btn-neutral btn-sm font-normal shadow-md lg:btn-md lg:text-base;
  }
}

:root {
  --gray-400: hsl(0, 0%, 20%);
  --gray-200: hsl(0, 0%, 40%);
}

body {
  font-family: 'Kanit', sans-serif;
}

.modal-fix-blur {
  height: 100vh;
  overflow-y: hidden;
}
.modal-fix-blur::before {
  position: fixed;
  content: '';
  filter: blur(0.5);
  backdrop-filter: blur(10px);
  inset: 0;
  z-index: 10;
  height: 100vh;
}

/* credits: https://shadows.brumm.af/ */
.smooth-box-shadow {
  box-shadow:
    2px 2px 10px rgba(0, 0, 0, 0.035),
    5px 5px 80px rgba(0, 0, 0, 0.07);
}

.testimonial-card::before {
  position: absolute;
  content: '';
  top: 0.5rem;
  left: 0.5rem;
  width: 2rem;
  transform: scale(0.6);
  aspect-ratio: 1/1;
  background-image: url('./assets/quotes.svg');
  background-repeat: no-repeat;
}

.testimonial-card::after {
  position: absolute;
  content: '';
  bottom: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  transform: scale(0.6);
  aspect-ratio: 1/1;
  background-image: url('./assets/quotes.svg');
  background-repeat: no-repeat;
}
